*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.wrapper h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 45px 0 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.gender-group{
    margin: 20px 0;
    font-size: 16px;
}

.gender-group label{
    margin-right: 20px;
    cursor: pointer;
}

.gender-group input[type="radio"]{
    accent-color: #fff;
    margin-right: 5px;
}

.terms{
    display: flex;
    align-items: center;
    font-size: 14.5px;
    margin: 15px 0;
}

.terms input{
    accent-color: #fff;
    margin-right: 10px;
}

.terms label{
    cursor: pointer;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 15px 0;
}

.wrapper .login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link{
    text-decoration: underline;
}

